In [24]:
import os
import pandas as pd

In [25]:
"""
You will be give a set of poll data called election_data.csv. The dataset is composed of three columns: Voter ID, County, and Candidate. Your task is to create a Python script that analyzes the votes and calculates each of the following:

The total number of votes cast

A complete list of candidates who received votes

The percentage of votes each candidate won

The total number of votes each candidate won

The winner of the election based on popular vote.

As an example, your analysis should look similar to the one below:

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)
-------------------------
Winner: Khan
-------------------------
In addition, your final script should both print the analysis to the terminal and export a text file with the results.
"""

"\nYou will be give a set of poll data called election_data.csv. The dataset is composed of three columns: Voter ID, County, and Candidate. Your task is to create a Python script that analyzes the votes and calculates each of the following:\n\nThe total number of votes cast\n\nA complete list of candidates who received votes\n\nThe percentage of votes each candidate won\n\nThe total number of votes each candidate won\n\nThe winner of the election based on popular vote.\n\nAs an example, your analysis should look similar to the one below:\n\nElection Results\n-------------------------\nTotal Votes: 3521001\n-------------------------\nKhan: 63.000% (2218231)\nCorrey: 20.000% (704200)\nLi: 14.000% (492940)\nO'Tooley: 3.000% (105630)\n-------------------------\nWinner: Khan\n-------------------------\nIn addition, your final script should both print the analysis to the terminal and export a text file with the results.\n"

In [26]:
df = pd.read_csv("Resources/election_data.csv")

In [27]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [28]:
df = df[['Candidate', 'Voter ID', 'County']]
df.head()

  Candidate  Voter ID County
0      Khan  12864552  Marsh
1    Correy  17444633  Marsh
2      Khan  19330107  Marsh
3      Khan  19865775  Queen
4      Khan  11927875  Marsh

In [29]:
#Create groups for how many votes each candidate received.
# Create a GroupBy object based upon "View Group"
candidategrp = df.groupby("Candidate")

# Find how many rows fall into each bin
print(candidategrp["Candidate"].count())

# Get the count of each column within the GroupBy object
candidategrp[['Candidate']].count()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

           Candidate
Candidate
Correy        704200
Khan         2218231
Li            492940
O'Tooley      105630

In [30]:
#The total number of votes cast
totalvotes = df["Voter ID"].count()
totalvotes

3521001

In [31]:
#A complete list of candidates who received votes
totcands = df["Candidate"].unique()
totcands

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [32]:
#The percentage of votes each candidate won
votetally = df["Candidate"].value_counts()
votetallyp = df["Candidate"].value_counts()/totalvotes
votetallyp
votepercentdf = pd.DataFrame((votetally/totalvotes)*100)
votepercentdf["Votes Earned"] = votetally = df["Candidate"].value_counts()
votepercentdf = votepercentdf.rename(columns={"Candidate": "Percent of Total Votes"})
votepercentdf["Percent of Total Votes"] = votepercentdf["Percent of Total Votes"].astype(float).map(
    "{:,.2f}%".format)
votepercentdf["Votes Earned"] = votepercentdf["Votes Earned"].map("{:,}".format)
votepercentdf

         Percent of Total Votes Votes Earned
Khan                     63.00%    2,218,231
Correy                   20.00%      704,200
Li                       14.00%      492,940
O'Tooley                  3.00%      105,630

In [33]:
#The winner of the election based on popular vote.
#Khan
df.loc[:,["Candidate", "Voter ID"]].head()

  Candidate  Voter ID
0      Khan  12864552
1    Correy  17444633
2      Khan  19330107
3      Khan  19865775
4      Khan  11927875

In [34]:
#As an example, your analysis should look similar to the one below:

print('Election Results')
print('-------------------------')
print(f'Total Votes: ', totalvotes)
print('-------------------------')
print(votepercentdf)
print('-------------------------')
print('Winner: Khan')
print('-------------------------')

Election Results
-------------------------
Total Votes:  3521001
-------------------------
         Percent of Total Votes Votes Earned
Khan                     63.00%    2,218,231
Correy                   20.00%      704,200
Li                       14.00%      492,940
O'Tooley                  3.00%      105,630
-------------------------
Winner: Khan
-------------------------

In [35]:
df.to_csv("Analysis/PyPoll.csv", index=False, header=True)

In [36]:
df.to_csv(r'C:\Users\egera\OneDrive\Desktop\School wrk\Homework\Python-challenge\python-challenge\PyPoll\Analysis\PyPoll.txt', header=None, index=None, sep='\t', mode='a')