In [1]:
import os
import pandas as pd

In [2]:
"""
Read the data

The total number of months included in the dataset

The net total amount of "Profit/Losses" over the entire period

Calculate the changes in "Profit/Losses" over the entire period, then find the average of those changes

The greatest increase in profits (date and amount) over the entire period

The greatest decrease in profits (date and amount) over the entire period

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

"""

'\nRead the data\n\nThe total number of months included in the dataset\n\nThe net total amount of "Profit/Losses" over the entire period\n\nCalculate the changes in "Profit/Losses" over the entire period, then find the average of those changes\n\nThe greatest increase in profits (date and amount) over the entire period\n\nThe greatest decrease in profits (date and amount) over the entire period\n\nFinancial Analysis\n----------------------------\nTotal Months: 86\nTotal: $38382578\nAverage  Change: $-2315.12\nGreatest Increase in Profits: Feb-2012 ($1926159)\nGreatest Decrease in Profits: Sep-2013 ($-2196167)\n\n'

In [3]:
df = pd.read_csv("Resources/budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#The total number of months included in the dataset

In [7]:
moncount = df["Date"].count()
moncount

86

In [8]:
len(df)

86

In [9]:
#The net total amount of "Profit/Losses" over the entire period

In [11]:
totalpl = df["Profit/Losses"].sum()
totalpl

38382578

In [12]:
#Calculate the changes in "Profit/Losses" over the entire period, then find the average of those changes

In [16]:
monthly_change = [0]
pl = df["Profit/Losses"].to_list()
for i in range(1,len(pl)):
    diff = pl[i]-pl[i - 1]
    monthly_change.append(diff)
monthly_change

[0,
 116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [20]:
 df["Differences"] = monthly_change

In [21]:
monthly_change

[0,
 116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]