In [126]:
import os
import pandas as pd
import numpy as np

In [127]:
"""
Read the data

The total number of months included in the dataset

The net total amount of "Profit/Losses" over the entire period

Calculate the changes in "Profit/Losses" over the entire period, then find the average of those changes

The greatest increase in profits (date and amount) over the entire period

The greatest decrease in profits (date and amount) over the entire period

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

"""

'\nRead the data\n\nThe total number of months included in the dataset\n\nThe net total amount of "Profit/Losses" over the entire period\n\nCalculate the changes in "Profit/Losses" over the entire period, then find the average of those changes\n\nThe greatest increase in profits (date and amount) over the entire period\n\nThe greatest decrease in profits (date and amount) over the entire period\n\nFinancial Analysis\n----------------------------\nTotal Months: 86\nTotal: $38382578\nAverage  Change: $-2315.12\nGreatest Increase in Profits: Feb-2012 ($1926159)\nGreatest Decrease in Profits: Sep-2013 ($-2196167)\n\n'

In [128]:
df = pd.read_csv("Resources/budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [129]:
#The total number of months included in the dataset

In [130]:
moncount = df["Date"].count()
moncount

86

In [131]:
len(df)

86

In [132]:
#The net total amount of "Profit/Losses" over the entire period

In [133]:
totalpl = df["Profit/Losses"].sum()
totalpl

38382578

In [134]:
#Calculate the changes in "Profit/Losses" over the entire period, then find the average of those changes

In [135]:
monthly_change = [0]
pl = df["Profit/Losses"].to_list()
for i in range(1,len(pl)):
    diff = pl[i]-pl[i - 1]
    monthly_change.append(diff)
#monthly_change
df["Differences"] = monthly_change

In [136]:
avgchg = round(df["Differences"].mean(),2)
#avgchg
avgchg

-2288.2

In [137]:
#The greatest increase in profits (date and amount) over the entire period
maxinc = df["Differences"].max()
maxinc

1926159

In [138]:
#The greatest decrease in profits (date and amount) over the entire period.
mininc = df["Differences"].min()
mininc

-2196167

In [139]:
print("Financial Analysis")
print("----------------------------")
print(f'Total Months:',moncount)
print(f'Total: $',totalpl)
print(f'Average Change: $',avgchg)
print(f'Greatest Increase in Profits: Feb-2012: $',maxinc)
print(f'Greatest Decrease in Profits: Sep-2013: $',mininc)

Financial Analysis
----------------------------
Total Months: 86
Total: $ 38382578
Average Change: $ -2288.2
Greatest Increase in Profits: Feb-2012: $ 1926159
Greatest Decrease in Profits: Sep-2013: $ -2196167

In [140]:
df.to_csv("Analysis/PyBank.csv", index=False, header=True)

In [161]:
#np.savetxt(r'C:\Users\egera\OneDrive\Desktop\School wrk\Homework\Python-challenge\python-challenge\PyBank\Analysis\PyBank.txt', df.value, fmt='%10.5f')